body {
    padding-top: 50px;
    padding-bottom: 20px;

}
.body-content{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-inverse{
    background-color:lightpink;
    border-color: #fbf6f6;
}
.navbar-inverse .navbar-nav >li >a {
    color:white;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea{
    max-width: 280px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
    background-color: #ff0000;
    border-color: #ff0000
}
/* Course layout*/
.course {
    list-style:none;
}
.course >li{
    position: relative;
    margin-bottom: 30px;
}
.course >li .date{
    text-align: center;
    background-color: #d41d50;
    color: white;
    width: 60px;
    border-radius: 8px;
}
.course >li.details{
    position: absolute;
    top:0;
    left: 70px;
}